<div class='box-i'>
	<div class='short'>
  <h4> Additional Training (scientific)</h4>
  
      <ul class="short">
      <li> Attended several Astrophysics summer/winter schools and conferences. </li>
      <li> <b>Teaching assistant </b> at an electrodynamics course and at several physics labs (<%= link_to "click here", additional_training_teaching_path%> for full list). </li>
      <li> Participated in various <b>student seminars</b> and attended graduate courses as a requirement of the <%= link_to 'IMPRS Heidelberg curriculum', 'http://www.mpia.de/imprs-hd/html/curriculum.html'%>.</li>
      <li> <b>Radio Astronomy internship</b> in the Radio Astronomy group of <%= link_to 'Prof. Denise Gabuzda', 'http://www.physics.ucc.ie/staff/dgabuzda.html'%> at the <%= link_to 'Department of Physics', 'http://physics.ucc.ie'%>, <%= link_to 'University College Cork', 'http://www.ucc.ie/en/'%> (2006).</li>
    </ul>
  </div>
 </div>
</div>