<div class='box-i'>
  <h3>Education</h3>
  <table class='work'>
    <tr>
      <td class='cvleft'> July 2011</td>
      <td class='cvright'> Dr. Rer. Nat. Astrophysics, <%= link_to 'University of Heidelberg', 'http://www.uni-heidelberg.de/index_e.html'%>.  </td>
    </tr>
    <tr>
      <td class='cvleft'> Oct 2007 - Jul 2011 </td>
      <td class="cvright"> 
        <ul> 
          <li>Doctorate Student at the <%= link_to 'Max Planck Institute for Nuclear Physics (MPIK), Heidelberg', "http://www.mpi-hd.mpg.de/mpi/en/start/"%>.</li>
          <li><%= link_to 'IMPRS Heidelberg', 'http://www.mpia.de/imprs-hd/'%> fellow.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class='cvleft'> Oct 2005 - Sep 2007 </td>
      <td class='cvright'> Master Student at the <%= link_to 'Astrophysics Section', 'http://astro.phys.uoa.gr'%> of the <%= link_to 'Physics Faculty', 'http://phys.uoa.gr'%>, <%= link_to 'University of Athens', 'http://www.uoa.gr'%>.</td>
    </tr>
    <tr>
      <td class='cvleft bottom'> Sep 1999 - Sep 2005</td>
      <td class='cvright bottom'> Bachelor Student at the <%= link_to 'Astrophysics Section', 'http://astro.phys.uoa.gr'%> of the <%= link_to 'Physics Faculty', 'http://phys.uoa.gr'%>, specialization: Astrophysics. </td>
    </tr>
  </table>
</div>